head {
    display: none;
    
}
@font-face { font-family: 'Cafe24Danjunghae'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Danjunghae.woff') format('woff'); font-weight: normal; font-style: normal; }
html{
    font-size: 100%;
    box-sizing: border-box;
}

body{
    font-size: 1rem;
    font-stretch: normal;
    font-weight: 400;
    color: #000;
    display: block;
    font-family: 'Cafe24Danjunghae';
}

body, html {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    padding: 0;
    position: relative;
}

.container {
    min-height: 100%;
    position: relative;
    width: 100%;
    padding-bottom: 188px;
    padding-top: 60px;
}

body:not(.home) .container>.header {
    box-shadow: 1px 1px 10px rgba(0,0,0,.1);
}

.container>.header {
    background: #fff;
    border-bottom: 0;
    height: 55px;
    left: 0;
    padding: 0 30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 90000;
}

*, :after, :before {
    box-sizing: inherit;
}

.container>.content {
    margin-top: -1px;
    min-height: 100%;
    padding-bottom:188px;
}

.container .inner2 {
    background-color: #fff;
    margin: 0 auto;
    max-width: 1118px;
    min-height: 100%;
    min-width: 280px;
    padding: 30px 30px 30px;
    position: relative;
}

.container .inner {
    background-color: #fff;
    margin: 0 auto;
    max-width: 1118px;
    min-height: 55px;
    min-width: 280px;
    padding: 0px;
    position: relative;
}

.navigation__flex {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 54px;
    justify-content: flex-end;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    width:100%;
}

.navigation__item {
    font-size: 1.0625rem;
    font-stretch: condensed;
    border-left: 0;
    text-transform: capitalize;
}

.header a{
    text-decoration: none;
    color: white; 
    background-color: black;
    padding-left:6px;
    padding-right:6px;
    margin-left:3px;
}

a{
    text-decoration: none;
    padding-left:6px;
    padding-right:6px;
}

nav ol, nav ul {
    list-style: none;
}


.navigation__logo {
    background-image: none;
    height: 20px;
    margin: 0;
    overflow: hidden;
    width: 100%;
    padding: right 770%;
    font-size: 2.3rem;
    color: black;
    background-color: white;
}


section.mini-faq {
    border-left: 5px solid #000;
    height: 100px;
    /* margin-left: 75px;
    margin-right: 10px; */
    margin-top: 90px;
    max-width: 720px;
    padding-left: 34px;
    padding-top: 4px;
    position: relative;
}

body>footer {
    font-size: 1rem;
    font-stretch: normal;
    font-style: normal;
    font-weight: 300;
    background-color: #000;
    color: #fff;
    padding: 5px 0 2px!important;
    width: 100%;
    z-index: 200;
    position: absolute;   
}

footer{
    bottom : 0;
}

footer .branding{
    margin-left: 10px;
}

body>footer ul:last-of-type {
    padding-right: 0;
}
body>footer ul {
    display: inline-block;
    margin-top: 0;
    padding: 0 42px 0 0;
}
menu, ol, ul {
    padding: 0 0 0 40px;
}
dl, menu, ol, ul {
    margin: 1em 0;
}