{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<div class="login" style="text-align: center;">
    <h1 style="font-size: 3rem;">로그인</h1>
    <hr>
    <form style="font-size:2rem;
    text-align: right;
    padding-right:35%;" method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <br>
        아이디: <input style="padding: 10px;" placeholder="아이디" type="text" name="userID"><br><br>
        비밀번호: <input style="padding: 10px;" placeholder="비밀번호" type="password" name="password"><br><br>
        <input style="padding: 10px;" type="submit" value="로그인">
    </form>
</div>
{% endblock content %}