{% extends "base.html" %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
<h1>회원가입</h1>
<form method="POST" action="{%url 'signup'%}">
    {% csrf_token %}
    아이디: <input placeholder="아이디" type="text" name="userID"><br>
    비밀번호: <input placeholder="비밀번호" type="password" name="password1"><br>
    비밀번호 확인: <input placeholder="비밀번호 확인" type="password" name="password2"><br>
    이름: <input placeholder="이름" type="text" name="name"><br>
    전화번호: <input placeholder="- 을 빼고 기입해주세요" type="text" name="phone"><br>
    <input type="submit" value="회원가입">
</form>
{% endblock content %}