{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
<div class="signup">
    <h1 style="font-size: 3rem;">회원가입</h1>
    <hr>
    <form class="form" method="POST" action="{%url 'signup'%}">
        {% csrf_token %}
        아이디: <input placeholder="아이디" type="text" name="userID"><br><br>
        비밀번호: <input placeholder="비밀번호" type="password" name="password1"><br><br>
        비밀번호 확인: <input placeholder="비밀번호 확인" type="password" name="password2"><br><br>
        이름: <input placeholder="이름" type="text" name="name"><br><br>
        전화번호: <input placeholder="- 을 빼고 기입해주세요" type="text" name="phone"><br><br>
        <input style="  
        background-color: black; /* Green */
        border: none;
        color: white;
        padding: 2px 20px;
        text-align: center;
        border-radius: 10px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        " type="submit" value="회원가입">
    </form>
</div>
{% endblock content %}